<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">PID:
        </div>
        <div class="col-sm-1">Date:
        </div>
        <div class="col-sm-1">PCS:
        </div>
        <div class="col-sm-1">Headache:
        </div>
        <div class="col-sm-1">PCS:
        </div>
        <div class="col-sm-1">
        </div>

        <div class="col-sm-1">
        </div>
    
    <div class="col-sm-1">
    </div>

<div class="col-sm-1">
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-1">
</div>
</div>
{{#each data}}
<div class="row">
    <div class="col-sm-1">
        {{this.id}}
    </div>
    <div class="col-sm-1">
        {{this.date}}
    </div>

    <div class="col-sm-1">{{this.pcs}}</div>
    <div class="col-sm-1">{{this.headache}}</div>
    <div class="col-sm-1">{{this.ptsd}}</div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div></div>
    {{/each}}

</div>
<div class="block text-center">
<div class="container-fluid center-block">
     <div class="p-2 row bg-dark">
        <div class="col-md-12"><h4 class="text-light">Graphs</h4>
    <button type="button" id={{subject}} value="dvprs" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">DVPRS </button>
    <button type="button" id={{subject}} value="pain_int" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">Pain Interference </button>
    <button type="button" id={{subject}} value="phys_fun" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">Physical Function </button>
    <button type="button" id={{subject}} value="fatigue" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">Fatigue </button>
    <button type="button" id={{subject}} value="sleep" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">Sleep </button>
<button type="button" id={{subject}} value="depress" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">Depression </button>
<button type="button" id={{subject}} value="anx" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">Anxiety </button>
<button type="button" id={{subject}} value="anger" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">Anger </button>
<button type="button" id={{subject}} value="soc" class="pastorInstrument btn btn-primary"data-toggle="modal" data-target="#myModal">Social Satisfaction </button>
<button type="button" id={{subject}} value="alcohol" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">Alcohol </button>
<button type="button" id={{subject}} value="pcs" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">Pain Catastrophizing </button>
<button type="button" id={{subject}} value="headache" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">Headache</button>
<button type="button" id={{subject}} value="ptsd" class="pastorInstrument btn btn-primary" data-toggle="modal" data-target="#myModal">PTSD</button>

</div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog text-left modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content text-left">
        <div class="modal-header text-left">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-left"></h4>
        </div>
        <div class="modal-body">
          <div id="graphHere">

</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>