<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">PID:
        </div>
        <div class="col-sm-1">Date:
        </div>
        <div class="col-sm-1">PCS:
        </div>
        <div class="col-sm-1">Headache:
        </div>
        <div class="col-sm-1">PTSD:
        </div>
        <div class="col-sm-1">
        </div>

        <div class="col-sm-1">
        </div>
    
    <div class="col-sm-1">
    </div>

<div class="col-sm-1">
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-1">
</div>
</div>
{{#each data}}
<div class="row">
    <div class="col-sm-1">
        {{this.id}}
    </div>
    <div class="col-sm-1">
        {{this.date}}
    </div>

    <div class="col-sm-1">{{this.pcs}}</div>
    <div class="col-sm-1">{{this.headache}}</div>
    <div class="col-sm-1">{{this.ptsd}}</div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div></div>
    {{/each}}

</div>